.App {
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.Counter {
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;
}

main {
  margin: 1rem;
}

button {
  border: 0;

  align-items: center;
  justify-content: center;

  margin: 0.1rem;

  width: 2rem;
  height: 2rem;

  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;

  cursor: pointer;
}
